<% layout('/layouts/boilerplate')%>
<script src="../../public/javaScript/index.js"></script>
<body style="width: 97%; height:86%;">
    <div class="profile">
        <div class="uper-profile">
            <h1>
                <img src="<%=user.img.url%>" alt="profile">
               </h1>
            <div class="userInfo">
                <h1>  <%=user.name%>   </h1>
                <p>  <%=user.email%></p>
                <p> <%=user.username%></p>            
            </div>
        </div>
        <div class="bottom-profile" style="width: 100%; height: 95%;">
            <div class="mugicList" style=" height: 95%;">
                <% for(mugic of mugics){%>
                    <div class="mugicContainer nono">
                        <div class="mugicContainer-left">
                            <img class="singer-img" src="<%=mugic.img.url%>" alt="mugic image"> 
                        </div>
                        <div class="mugicContainer-center">
                            <p class="singer-name"><%=mugic.username%></p>
                            <P class="mugicName"><%=mugic.title%></P>
                        </div>
                        <div class="mugicContainer-right">
                            <span class="mugic-src"><%=mugic.mugic %></span>
                          
                            <i class="fa-regular play-song fa-circle-play"></i>      
                        </div>
                        <form method="post" action='/mugic/<%=mugic.id%>?_method=DELETE'>
                            <button class="btn btn-dark btn-dark1" >Delete</button>
                        </form> 
                        <a href="/mugic/<%=mugic.id%>/edit" class="btn btn-dark btn-dark1  ">Edit</a>     
                    </div>     
                    <% }%>
            </div>
  
        <%if(mugics&&mugics.length>0){%>
            <div class="allControls">
                <div class="control-upperpart">
                    <div class="control-rang">
                        <input type="range" min="0"  max="6000" value="00" id="range-mugic">
                    </div>     
                </div>
               <div class="control-bottompart">
                    <div class="allControls-left">
                        <p class="show-current-time">00:00</p>
                    </div>
                    <div class="Controls-icon">
                        <i class="backward fa-solid fa-backward-step"></i>                
                        <i class="fa-regular play fa-circle-play"></i>    
                        <i class="forward fa-solid fa-forward-step"></i>  
                    </div>
                    <div class="allControls-right">
                        <p class="show-duration-time">00:00</p>
                    </div>
               </div>
            </div>
        <%}%>
        </div>
    </div>
</body>